@model ECommerceWebApp.Models.Domain.Product

@{
    ViewData["Title"] = "Delete";
}
<!--========== ALERT STARTS ==========-->
<div id="shopify-section-1550734361962" class="shopify-section">
    <div data-section-id="1550734361962" data-section-type="slide-v1" style=" ">
        <div class="container slider-home-classic"> </div>
    </div>
</div>
<!--========== ALERT ENDS ==========-->

<div id="shopify-section-product-template" class="shopify-section">
    <div class="space_top_50 engoj-bundle-product" style="background:#f9f9f9">
        <div class="container space_bot_20">
            <ul class="breadcrumb" style="font-weight:500;">
                <li class="">
                    <a asp-action="Index" title="Back to the frontpage">Home</a>
                </li>
                <li class="active"><a>Wallnut Wall Clock</a></li>
            </ul>
        </div>
        <div class="container ">
            <div class="single-product-detail product-bundle product-aff">
                <div class="row">
                    <div class="col-xs-12 col-sm-6 col-md-6">
                        <div class="flex product-img-slide">
                            <div class="product-images">
                                <div class="main-img js-product-slider">
                                    <a href="#" onClick="return false;" class="effect"><img src="@Model.FImage" class="engoj_img_main img-responsive full-width"></a>
                                    <a href="#" onClick="return false;" class="effect"><img src="@Model.SImage" class="engoj_img_main img-responsive full-width"></a>
                                    <a href="#" onClick="return false;" class="effect"><img src="@Model.TImage" class="engoj_img_main img-responsive full-width"></a>
                                </div>
                            </div>
                            <div class="multiple-img-list-ver2 js-click-product">
                                <div class="product-col">
                                    <div class="engoj_img_variant img">
                                        <img src="@Model.FImage" class="img-reponsive">
                                    </div>
                                </div>
                                <div class="product-col">
                                    <div class="engoj_img_variant img">
                                        <img src="@Model.SImage" class="img-reponsive">
                                    </div>
                                </div>
                                <div class="product-col">
                                    <div class="engoj_img_variant img">
                                        <img src="@Model.TImage" class="img-reponsive">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-6 col-md-6">
                        <div class="single-flex">
                            <div class="single-product-info product-info product-grid-v2 s-50">
                                <h3 class="product-title"><a>@Model.Name</a></h3>
                                <div class="flex">
                                    <div class="product-price enj-product-price column-60">
                                        <link itemprop="availability" href="http://schema.org/InStock">
                                        <span class="price engoj_price_main"><span class=money>$@Model.Price.00</span></span>
                                    </div>
                                    <div class="product-rating column-40">
                                        <span class="shopify-product-reviews-badge" data-id="2426727989353"></span>
                                    </div>
                                </div>
                                <div class="product-description margin_bottom_20">
                                    <span>@Model.Description</span>
                                </div>
                                <div class="single-product-button-group">
                                    <form asp-action="Delete">
                                        <input type="hidden" asp-for="Id" />
                                        <input type="submit" value="Delete" class="btn btn-danger" />
                                        <a class="btn btn-submit" asp-action="Index" style="background: LightGray">Back to List</a>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
