@model ECommerceWebApp.Models.Domain.Category

@{
    ViewData["Title"] = "Delete";
}
<!--========== ALERT STARTS ==========-->
<div id="shopify-section-1550734361962" class="shopify-section">
    <div data-section-id="1550734361962" data-section-type="slide-v1" style=" ">
        <div class="container slider-home-classic">
            @if (TempData["errormsg"] != null)
            {
                <div class="alert alert-dismissible alert-danger">
                    <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
                    <strong>Oh snap!</strong> @TempData["errormsg"]
                </div>
            }
        </div>
    </div>
</div>
<!--========== ALERT ENDS ==========-->
<div id="shopify-section-1552017576526" class="shopify-section">
    <div data-section-id="1552017576526" data-section-type="slide-v1" style=" ">
        <div class="container-1300 product-v4 space_bot_100">
            <div class="ciloe-title-section margin_bottom_30 container relative text-center">
                <h2 class="margin_top_20  fw-600">@Model.Name</h2>
                <h4>
                    <strong>Delete all</strong>
                     will also delete 
                    <strong style="color:red">@Model.Products.Count associated products.</strong>                    
                    Press
                    <strong>Delete Category</strong>
                     to keep the products.
                </h4>
            </div>
            <div class="text-center">
                <form asp-action="Delete" asp-route-id="@Model.Id" method="post">
                    <input type="hidden" asp-for="Id" />
                    <button type="submit" name="deleteOption" value="deleteCategory" class="btn btn-success">Delete Category</button>
                    <button type="submit" name="deleteOption" value="deleteAll" class="btn btn-danger">Delete All</button>
                    <a asp-action="Index" class="btn btn-primary">Back to List</a>
                </form>
            </div>
            <div class="container space_top_30  trending_classic">
                <div class="row" id="fade-it-1">
                    @foreach (var product in Model.Products)
                    {
                        <div class=" col-md-3 col-sm-4 col-xs-6 " id="fade-it-2">
                            <div class="product margin_bottom_50 engoj_grid_parent relative">
                                <div class="img-product relative">
                                    <a asp-controller="products" asp-action="Details" asp-route-id="@product.Id" class="engoj_find_img">
                                        <img src="@product.FImage" class="img-responsive full-width">
                                        <img src="@product.SImage" class="img-responsive absolute img-product-hover full-width">
                                    </a>
                                    <div class="product-icon text-center absolute">
                                        <form class="inline-block icon-addcart margin_right_10 box-shadow">
                                            <input type="hidden" name="id" value="21747541409897" />
                                            <button type="submit" name="add" class="enj-add-to-cart-btn btn-default">
                                                <i class="icon-bag"></i>
                                            </button>
                                        </form>
                                        <a asp-controller="products" asp-action="Details" asp-route-id="@product.Id" class="icon-quickview inline-block box-shadow">
                                            <i class="icon-magnifier"></i>
                                        </a>
                                    </div>
                                </div>
                                <div class="info-product text-center">
                                    <h4 class="des-font capital title-product space_top_bot_20">
                                        <a href="/products/ottoman-chair-1">@product.Name</a>
                                    </h4>
                                    <p class="price-product">
                                        <span class="price"><span class=money>$@product.Price.00</span></span>
                                    </p>
                                    <div class="product-rating space_top_10">
                                        <span class="shopify-product-reviews-badge" data-id="2430652121193">
                                            @for (int i = 0; i < product.Rating; i++)
                                            {
                                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="orange" class="bi bi-star-fill" viewBox="0 0 16 16">
                                                    <path d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.282.95l-3.522 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z" />
                                                </svg>
                                            }
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>
