@model IEnumerable<ECommerceWebApp.Models.Domain.OrderItems>

@{
    ViewData["Title"] = "Index";
}

<!--========== ALERT STARTS ==========-->
<div id="shopify-section-1550734361962" class="shopify-section">
    <div data-section-id="1550734361962" data-section-type="slide-v1" style=" ">
        <div class="container slider-home-classic">
            @if (TempData["successmsg"] != null)
            {
                <div class="alert alert-dismissible alert-success">
                    <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
                    <strong>Well done!</strong> @TempData["successmsg"]
                </div>
            }
            @if (TempData["errormsg"] != null)
            {
                <div class="alert alert-dismissible alert-danger">
                    <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
                    <strong>Oh snap!</strong> @TempData["errormsg"]
                </div>
            }
        </div>
    </div>
</div>
<!--========== ALERT ENDS ==========-->

<div id="shopify-section-cart-template" class="shopify-section">
    <div class="page-width" data-section-id="cart-template" data-section-type="cart-template">
        <div class="container container-240">
            <div class="checkout">
                <div class="row">
                    <div class="col-md-12 col-sm-12 col-xs-12">
                        <div class="shopping-cart bd-7">
                            <div class="cmt-title text-center abs">
                                <h3 class="page-title v2">Order</h3>
                            </div>
                            <div class="table-responsive">
                                <table class="table cart-table">
                                    <tbody>
                                        @foreach (var item in Model)
                                        {
                                            <tr class="item_cart">
                                                <td class="product-name flex align-center" data-title="Product">
                                                    <a class="d-none d-md-block btn-del"> </a>
                                                    <div class="product-img">
                                                        <img src="@item.Product.FImage">
                                                    </div>
                                                    <div class="product-info">
                                                        <a asp-controller="Products" asp-action="Details" asp-route-id="@item.ProductId">@item.Product.Name</a>
                                                    </div>
                                                </td>
                                                <td class="product-uprice">$@item.Product.Price</td>
                                                <td class="product-quantity">
                                                    <div class="cart-plus-minus">
                                                        X @item.Quantity
                                                    </div>
                                                </td>
                                                <td class="product-price">$@(item.Product.Price * item.Quantity).00</td>
                                            </tr>
                                        }
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>